@font-face {
    font-family: 'Aleo-regular';
    src: url("font/aleo-regular-webfont.woff2") format("woff2"),
         url("font/aleo-regular-webfont.woff") format("woff");
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

@fontMain: 'Josefin Sans', sans-serif;
@colorMain: #ffffff;
@backgroundMain: #5474fd;

._h2 {
    font: 400 36px/36px 'Aleo-regular';
}
._description_info {
    width: 540px;
    height: 375px;
    background-color: rgba(40,35,35,0.8);
    text-align: left;
    padding: 30px 30px;
}
._button {
    width: 230px;
    height: 70px;
    font: 400 20px/1 'Aleo-regular';
    border: none;
    color: @colorMain;
    background:  @backgroundMain;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
    box-shadow: 0px 2px 5px 0px rgba(225, 225, 225, 0.5);
    }
}

.h3 {
    font: 400 20px/26px @fontMain;
    text-transform: uppercase;
    margin: 25px 0;
}

body {
    width: 100vw;
    color: @colorMain;
    min-width: 1110px;
    font: 400 16px/26px @fontMain;
}

/* HEADER*/
.header {
    width: 100vw;
    height: 820px;
    background: url(img/header_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_content {
    width: 650px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 265px;
}
.h1 {
    font-size: 48px;
    text-transform: uppercase; 
    margin-bottom: 10px;
}
.header_subtitle {
    font: 300 22px/36px @fontMain;
    letter-spacing: 5px;
    margin-top: 10px auto;
}
.header_search {
    width: 655px;
    height: 65px;
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.header_input {
    width: inherit;
    height: inherit;
    border: none;
    color: #999999;
    text-align: center;
    outline-width: 0;
    &::placeholder {
       letter-spacing: 2px;
       font-size: 14px;
    }
}
.header_btn {
    width: 160px;
    height: 65px;
    color: @colorMain;
    border: 1px solid @colorMain;
    background: @backgroundMain;
    text-transform: uppercase;
    font: 14px/1 'Aleo-regular';
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_scroll {
    width: 110px;
    height: 55px;
    margin: 150px auto; 
    position: relative;
}
.scroll_link {
    color: @colorMain;
    &::after {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 30px;
        left: 35%;
        border-bottom: 1px solid @colorMain;
        border-right: 1px solid @colorMain;
        transform: rotate(45deg);
    }
    &:hover {
        opacity: 0.6;
    }
}
.nav {
    width: 100vw;
    height: 85px;
    margin-top: 400px;
    background-color: @backgroundMain;
    display: flex;  
    justify-content: center;
}
.navigation {
   width: 1110px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.link {
    text-transform: uppercase;
    color: @colorMain;
    margin-left: 50px;
    font-size: 14px;
}
/* end HEADER*/


/* WHY CHOOSE US*/
.choose {
    height: 680px;
    background: url(img/section_bg.png) @backgroundMain;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.choose_content {
   width: 1110px;
   height: 365px;
   padding-top: 100px; 
   display: flex;
   justify-content: center;
}
.choose_info {
    width: 540px;
    height: 530px;
    display: flex;
    flex-direction: column;
}
.button {
    ._button;
    margin-top: 55px;
}
.h2 {
    ._h2;
    margin-bottom: 65px;
}
.text + .text {
    margin-top: 35px;
}
.choose_img {
    width: 540px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose_img__style {
    margin: 5px 0 0 140px;
}
/*END CHOOSE US*/

/* HOW It WORKS*/
.howitworks {
    background: #333333;
    height: 345px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.howitworks_content {
    width: 980px;
    height: 140px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.howitworks_item {
    width: 210px;
    height: 135px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.howitworks_item_border::before,
.howitworks_item_border::after {
   content: "";
   display: inline-block;
   position: absolute;
   width: 300px;
   height: 150px;
   border-top: 1px dashed @colorMain;
   border-left: 1px dashed transparent;
   border-right: 1px dashed transparent;
   border-radius: 100%;
}
.howitworks_item_border::before {
    top: -50px;
    left: -115%;
}
.howitworks_item_border::after {
    top: -50px;
    left: 70%;
}

.items_name {
    margin-top: 25px;
}

/*end HOW It WORKS*/
/* SECTION */
.description_one {
 width: 100vw;
 height: 700px;
 background: url(img/section_bg2.png) center center;
 background-size: cover;
}
.description_content__one{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.description_info__one {
    ._description_info;
    margin-top: 215px;
}

.description_two {
    width: 100vw;
    height: 700px;
    background: url(img/section_bg1.png) center center;
    background-size: cover;
}
.description_content__two {
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.description_info__two {
    ._description_info;
     margin-top: 230px;
}


/*What Our Tourist Say*/
.testimonial {
    width: 100vw;
    height: 730px;
    background: url(img/section_bg3.png) 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.h2_style {
    ._h2;
    text-align: center;
    padding-top: 120px;
}
.testimonial_content {
    width: 1110px;
    height: 285px;
    margin: 95px auto 0;
    background: #333333; 
    display: flex;
}
.testimonial_info {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.testimonial_name {
    padding-top: 50px;
    text-transform: uppercase;
}

.testimonial_text {
    width: 560px;
    padding-top: 10px;
    font: 300 16px/26px @fontMain;
}
.testimonial_simbol {
  color: @backgroundMain;
  font-size: 20px;
  position: relative;
  top: -10px;
}
.testimonial_arrow {
    width: 1110px;
    margin: 30px auto;
    height: 55px;
    display: flex;
    justify-content: flex-end;
}
.arrow {
     width: 80px;
     height: 50px;
     border: 1px solid @colorMain;
     position: relative;
     cursor: pointer;
     &.arrow_left {
         margin-right: 15px;
     }
     &:hover {
         opacity: 0.6;
     }
}
 .arrow_left::before,
 .arrow_right::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 30%;
    transform: rotate(45deg);
 }
 .arrow_left::before {
     left: 45%;
    border-left: 1px solid @colorMain;
    border-bottom: 1px solid @colorMain;
 }
 .arrow_right::after {
     right: 45%;
    border-right: 1px solid @colorMain;
    border-top: 1px solid @colorMain;
 }
    

/*end Section*/

/*FOOTER*/
.footer {
    width: 100vw;
    height: 260px;
    background: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_content {
    width: 170px;
    height: 35px;
    margin: 90px auto 0;
    text-align: center;
}
.h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.footer_subtitle {
    font-size: 16px;
}
.footer_social {
    width: 170px;
    height: 32px;
    margin: 30px auto;
    text-align: center;
}
.social_align {
    margin-left: 15px; 
}
