@font-face {
    font-family: 'SansaPro-Normal';
    src: url("font/SansaPro-Normal.otf") format("otf"),
         url("font/aleo-regular-webfont.woff") format("woff");
}
.h2 {
    font: 300 20px "Source Sans Pro", sans-serif;
    color: #333b46;
    letter-spacing: 4px;
    line-height: 12px;
    text-transform: uppercase;
}
.text {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
    max-width: 460px;
    margin: 40px auto 60px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    background-color: transparent;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


// Header

.header{
    width: 100%;
    min-width: 780px;
    height: 740px;
    background: url("img/bg.png");
    background-size: cover;
    color: white;
}
.nav {
    width: 1170px;
    height: 45px;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.nav_links {
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.link {
    width: 86px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid transparent; 
    &:hover {
        border: 1px solid #fff;
        border-radius: 20px; }
}
.content {
    width: 600px;
    height: 130px;
    margin: 110px auto;
    text-align: center;
}
.h1 {
    font: 300 35px/70px "SansaPro-Norma", sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.header_scroll {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 200px auto 0;
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
    background-color:#19bd9a;
    &:hover {
        opacity: 0.7;
    }
    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        top: 15px;
        left: 15px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(45deg);
    }
}
.scroll_link {
    width: inherit;
    height: inherit;
}
//portfolio
.portfolio {
    width: 100%;
    height: 1400px;
}
.portfolio_content {
    padding-top: 90px;
    text-align: center;
    width: 470px;
    height: 100px;
    margin: auto; 
}
.portfolio_menu {
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.portfolio_works {
    width: 1120px;
    height: 954px;
    display: flex;
    justify-content: space-around;
}

//TEAM
.team {
    width: 100%;
    height: 775px;
    text-align: center;
}
.team_content {
    margin: 70px auto; 
}
.team_slider {
    width: 1200px;
}
.cards {
    width: 1000px;
    height: 390px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.team_img {
    width: 300px;
    height: inherit;
}
.team_info {
    width: 400px;
    height: inherit;
}


//CONTACT US
.contact {
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 60px 0;
    background: url(img/bg-contact.jpg) 50% no-repeat #000000;
    background-size: cover;
}
.h3 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 29px; 

}
.contact_btn {
    background: none;
    border: 1px solid white;
    color: white;
    text-transform: none;
    border-radius: 20px;
    padding: 5px 20px;
    &:hover {
        border: 1px solid #19bd9a;
        color: #19bd9a; 
    }
}
//Contact with map
.map {
    width: 100%;
    height: 680px;
    text-align: center;
}
.map_content {
  margin: 70px auto; 
}
#map {
    width: 100%;
    height: 445px;
}

//Footer
.footer_content {
    width: 270px;
    height: 35px;
    margin: 90px auto 0;
    text-align: center;
}
.footer_text {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
    margin: 24px 0 37px;
}
.footer_social {
    width: 270px;
    height: 32px;
    margin: 70px auto;
    text-align: center;
}
.social_align {
    margin-left: 15px; 
    &:hover {
        transform: scale(1.2); 
    }
}
